<h1> Data Science Tools and Ecosystem </h1>

This is an introductory notebook for Data Science Tools and Ecosystem

<b>Objectives</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries by Data Scientists</li>
    <li>List some popular Data Science Tools</li>
    <li>Show how to evaluate Arithemetic Expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Numpy</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>Jupyter</td>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335

<h2>Author</h2>
Muhammad Darab Ahsan